<app-navbar></app-navbar>

<div class="dashboard">
    <h1>Welcome to LearnADC</h1>
    <p>The <span id="free">FREE</span>, learning platform for beginners ADC enthusiasts to elevate their gameplay.</p>
    <p>Ranging from the fundamentals to higher skill concepts, LearnADC is the free platform for low-elo ADC players to finally reach their ranked goals.</p>
    <ng-container *ngIf="isLoggedIn$ | async; else guest">
      <a routerLink="/courses">
        <button class="browse-btn">Browse Courses</button>
      </a>
    </ng-container>
    <ng-template #guest>
      <a routerLink="/auth/login" class="browse-btn-link">Login to View Courses</a>
    </ng-template>
  </div>
  