<nav class="navbar">
    <div class="nav-left">
      <a routerLink="/dashboard" class="brand">LearnADC</a>
    </div>
  
    <div class="nav-right">
      <ng-container *ngIf="isLoggedIn$ | async; else guest">
        <a routerLink="/courses">Courses</a>
        <button (click)="logout()">Logout</button>
      </ng-container>
  
      <ng-template #guest>
        <a routerLink="/auth/login">Login</a>
        <a routerLink="/auth/register">Register</a>
      </ng-template>
    </div>
  </nav>
  